

<div class="content" role="main">

   <!--<span>{{ title }} app is running!</span>-->
   
  <!-- email:    <input type="text" id="email"  [(ngModel)]="email" [ngModelOptions]="{standalone: true}" >
   <br>
   password: <input type="text" id="password" [(ngModel)]="password"  [ngModelOptions]="{standalone: true}" >
   <br>
   <button (click)="login()">login</button>
   -->
   <mat-card class="card">
    <h2>Login</h2>
    <br>
   <mat-form-field class="example-full-width">
      <mat-label  >Email</mat-label>
      <input matInput id="email" placeholder="" value=""  [(ngModel)]="email"  [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <br>
    <mat-form-field  class="example-full-width">
      <mat-label  >Password</mat-label>
      <input matInput type="password" id="password" placeholder="" value=""  [(ngModel)]="password"  [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <br>
    <!--<label class="left" mat-button>Forgot password?</label>-->
    <br>
    <button class="login" mat-stroked-button color="primary" (click)="login()">Login</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <label class="registrati">Non sei ancora registrato? <button mat-button color="primary">Registrati</button> </label>
  </mat-card>


</div>

