<h2>Inserisci la tua nuova Nota!</h2>

<form class="example-form" >
   <mat-form-field class="example-full-width">
     <mat-label  >Titolo</mat-label>
     <input matInput id="titolo" placeholder="" value=""  [(ngModel)]="titolo"  [ngModelOptions]="{standalone: true}">
   </mat-form-field>
 
   <mat-form-field class="example-full-width">
     <mat-label  >Descrizione</mat-label>
     <input matInput id="descrizione" [(ngModel)]="descrizione"  [ngModelOptions]="{standalone: true}" >
   </mat-form-field>
   
   <mat-form-field class="example-full-width">
      <mat-label  >Descrizione</mat-label>
      <input matInput id="descrizione" [(ngModel)]="descrizione"  [ngModelOptions]="{standalone: true}" >
    </mat-form-field>
  
 </form>
