.content{
   text-align: center;
}


.card{
   width: 200px;
   /*margin-left: 20px;*/
}

.example-spacer {
   flex: 1 1 auto;
 }

 mat-card-title,mat-panel-description{
   word-wrap: break-word;
   overflow-wrap: break-word;
   width: 100%;
   white-space: normal;
 }