.content{
   text-align: center;
}


.card{
   width: 200px;
   margin: 20px;

}



.example-spacer {
   flex: 1 1 auto;
 }

 mat-card-title,mat-card-subtitle{
   word-wrap: break-word;
   overflow-wrap: break-word;
   width: 100%;
   white-space: normal;
 }

 .card-title,.panel-description{
   word-wrap: break-word;
   overflow-wrap: break-word;
   width: 100%;
   /*white-space: normal;*/
   white-space:nowrap;
   text-overflow:ellipsis;
   overflow:hidden;
 }